*{

  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.banner{

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 98vh;
  margin: 1vh;
  padding: 10px !important;
background-image: url("https://images.unsplash.com/photo-1537823286324-7d070255022e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 

}

.white-btn{
  border-radius: .5rem;
  border: none;
  color: black;
  padding: 1px 14px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.black-btn2{
  border-radius: 3px;
  border: none;
  color: rgb(249, 249, 249);
  background-color: black;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.white-btn:hover{
  border-radius: 3px;
  border: none;
  color: rgb(249, 249, 249);
  background-color: black;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading{
  position: relative;
  top: 35vh;
  font-size: 5vw;
  color: white !important;
  font-weight: 400;


}
.search-area{
  position: relative;
  bottom: -37vh;
  background-color: #ffffffb0;
  width: 100%;
  border-radius: .8rem;
  padding: 3%;
  
}
@media(max-width:767px){
  .heading{
    position: relative;
    top: 10vh;
    font-size: 13vw;
    color: white;
    font-weight: 400;
  
  }
  .search-area{
    position: relative;
    top: 10vh;
  }
}

.position{

  top: 40px;
  z-index: 300;
  
}
.datepickdiv{
  height: 35px;
   cursor: pointer;
    position: relative;
}
.selectedBtn{
  color: white;
  background-color: black;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px 10px;
}
.nonselectedBtn{
  color: black;
  background-color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px 10px;
}
.black-btn{
  color: white;
  font-size: 13px;
  background-color: black;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 25px;
}
.gray-btn{
  color: white;
  font-size: 13px;
  background-color: rgb(109, 109, 109);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 25px;
}

.destinationIMG{
  width: 100%;
  height: 150px;
  margin: 10px 0px;
  border-radius: 10px;
}
.destinationIMG:hover{
  transition: .2s;
  transform: scale(1.02);
}
.hotelImg{
  height: 270px;
}
.hotelImg:hover{
  transition: .2s;
  transform: scale(1.02);
}
.bg-color{
  background-color: #040507;
}
.firstImg{
  height:400px;
  border-radius:20px 0 0 20px;
}
.rightBottom {
  border-radius:0 0px 20px 0px !important;
}
.rightTop{
  border-radius:0 20px 0 0px !important;
}
@media (max-width:767px){
 .firstImg
 { height:192px !important;
  border-radius:0px 0 0 0px !important;}
  .rightBottom {
    border-radius:0px 0 0 0px !important
  }
  .rightTop{
    border-radius:0px 0 0 0px !important

  }
}

.bg-primary-light{
  background-color: #f0f6ff;
}
.grid-container {
  display: grid;
  grid-template-rows: max-content;
  flex-wrap: wrap;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr 1fr;
  gap: 10px;
  align-items: center;
  
}

@media (max-width: 992px) {
  .grid-container {
    text-align: start;
    grid-template-columns: 1fr; /* Stack items in smaller screens */
  }
}
.MuiRating-iconFilled {
  color: #FFD700 !important; /* Force yellow */
}

.MuiRating-iconEmpty {
  color: #D3D3D3 !important; /* Light gray */
}
.superadmin-sidebar {
  min-height: 100%;
  position: fixed;
  background-color: #212529;
  margin-bottom: 0px;
  width: 250px; /* Fixed width for sidebar */
}

.content-wrapper {
  margin-left: 250px; /* Offset content by the sidebar width */
  transition: margin-left 0.3s ease; /* Smooth transition when resizing */
  padding: 20px; /* Add some padding for spacing */
}

@media (max-width: 767px) {
  .superadmin-sidebar {
    min-height: 10vh;
    background-color: black;
    width: 100%;
    position: static; /* Sidebar should be static in smaller screens */
  }

  .content-wrapper {
    margin-left: 0; /* No margin on mobile */
  }
}

.bg-mustard{
  background-color: rgb(93 113 109 / 70%) !important;
}
.text-mustard{
  color: rgb(93 113 109 / 70%) !important;
}

.bg-peacock{
  background-color: rgb(8 95 94) !important;
}
.text-peacock{
  color: rgb(8 95 94) !important;
}

.bg-light-dark{
  background-color: rgb(33 37 41 / 88%) !important;
}
.text-light-dark{
  color: rgb(33 37 41 / 88%) !important;
}
li{
  list-style: none;
}
.cards{
  border-radius: 10px;
  background-color: #0d5ce5;
  
}
.cards:hover{
  background-color: rgb(0 37 75);
  cursor: pointer;
}
.login-with-google-btn{
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.login-with-google-btn:hover {
  background-color: #f1f1f1;
}

.login-with-google-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.react-calendar__tile--now {
  color: white !important; /* Ensure text is white */
  background: #4c8dff !important; /* Change on hover */
  border-radius: 10px; /* Optional: Make it rounded */
  opacity: 1 !important;
}

/* Hover effect for the current date */
.react-calendar__tile--now:hover {
  background: #7f94cf !important; /* Change this to your preferred color */
  color: white !important; /* Ensure text stays white */
}
.bg-dark-blue{
  background-color: rgb(0 37 75) !important;
}